@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

:root {
    --green-light: #a6f477 ;
    --green-medium:#59b520  ;
    --green-dark:  #306c0b  ;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


header {
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.section-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    nav {
        display: flex;
        gap: 30px;

        a {
        color: #333;
        font-weight: 500;
        font-size: 17px;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        }

        a:hover {
        border-bottom: 2px solid #59b520;
        color: #59b520;
        }
    }
}

.img-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container-actions {
    display: flex;
    gap: 20px;

    button {
        border: none;
        background-color: transparent;
        border: 1px solid #306c0b ;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
        background-color: #306c0b ;

        i {
            color: #fff;
        }
        }
    }

    i {
        color: #306c0b ;
        font-size: 14px;
    }
}